.buttonBox {
    position: relative;
    max-width: 6rem;
    max-height: 6rem;
    min-height: 6rem;
    min-width: 6rem;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.5rem;
}

.icon {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}

.customBorder {
    position: absolute;
    transition: all 0.5s ease-in-out;
    z-index: 0;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}

.buttonBox > .customBorder:nth-of-type(1) {
    top: -35px;
    left: -30px;
}

.buttonBox > .customBorder:nth-of-type(2) {
    top: -35px;
    right: -30px;
}

.buttonBox > .customBorder:nth-of-type(3) {
    bottom: -35px;
    left: -30px;
}

.buttonBox > .customBorder:nth-of-type(4) {
    bottom: -35px;
    right: -30px;
}

.buttonBox:hover {
    transition: color 0.5s ease-in-out;
}

.buttonBox:hover .customBorder {
    transform: scale(15.7) rotate(45deg);
}

.activeButton .buttonBox .customBorder {
    transform: scale(15.7) rotate(45deg);
}

.activeButton .buttonBox button {
    color: white;
}

.activeButton .buttonBox {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: box-shadow 0.5s ease-in-out;
}

.buttonBox:hover .icon {
    color: white;
    transition: color 0.5s ease-in-out;
}

/* ------------ Hide Horizontal Scrollbar ------------ */
.container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    display: none;
}
